<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>CSS3 Selectables with information rollover</title>
  <link rel="stylesheet" href="../styles/lowergradelandingpage.css">
</head>

<body>

  <!DOCTYPE html>
  <html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Jason Mayes" />
    <title>HashLearn Now -Lower Grade Quizes</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="cardContainer">
      <h1>Lower grade tests</h1>
      <p class="large">Select one or more subjects you wish to take up.</p>
      <a id="close" href="#"></a>
      <ul>

        <li class="flip-container" id="phy">
          <div class="flipper default">
            <div class="front">
              <h2>Physics</h2>
            </div>
            <div class="back">
              <p>Check this to teach physics for 8-10 grade</p>
            </div>
          </div>
        </li>

        <li class="flip-container" id="che">
          <div class="flipper default">
            <div class="front">
              <h2>Chemistry</h2>
            </div>
            <div class="back">
              <p>Check this to teach Chemistry for 8-10 grade</p>
            </div>
          </div>
        </li>

        <li class="flip-container" id="mat">
          <div class="flipper default">
            <div class="front">
              <h2>Maths</h2>
            </div>
            <div class="back">
              <p>Check this to teach physics for 8-10 grade</p>
            </div>
          </div>
        </li>
      </ul>

      <p id="selected">(0) subjects selected</p>
      <a id="continue" class="button" href="#">Start Test</a>

    </div>
  </body>

  </html>

  <script src="../scripts/controllers/lowergradelandingpage.js"></script>




</body>

</html>
