  <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/main.css" type="text/css">


  
  <body ng-controller="MainCtrl">
    <div id="container" >
      <div id="facebook">
        <div id="facebook-button" ng-click="doLogin()"></div>
        <div id="facebook-login">
          Facebook login! 
        </div>
      </div>
    </div>

    <div id="status"> Login through Facebook
    </div>
  </body>
  <script src="../scripts/controllers/main.js"></script>
