    <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js'></script>

    <link rel="stylesheet" href="../styles/policyVideo.css" type="text/css">

<!--     <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
-->    
<header>

  <div class="header-title">
    Do's and Don'ts for a HashLearn Now Tutor
  </div>
</header>
<div class = "center">

  <section class="content-block">
    <h1>A. Instant Lessons</h1>
    <p>HashLearn Now is a tutoring platform that helps students clear concepts and solve
      doubts around questions that they struggle with. Our goal is to help the student
      learn by providing the best on-demand, tutoring experience.</br>
      To achieve this goal and to maintain high standards of engagement on
      our platform, there are do's and don'ts to be followed as a tutor broadly defined
      under three key areas - Subject Knowledge, Communication, Speed and Accuracy.
    </p>

  </section>

  <section class="content-block">
    <h1>1. Subject Knowledge</h1>
    <p>While we appreciate that you understand your chosen topics very well, it’s
      critical you are thorough with your concepts. Please revise beforehand and
      have material available for reference during sessions. </br>In the <i>God-forbid-it-does-not-happen</i> scenario that you are not familiar with a
      concept or question posed by the student, please do not try and offer a halfbaked
      answer in any situation. Any such sessions reported to us by students will result in
      the equivalent of a two-star rating and you will not be paid for the session.</br>
      Know your topics, do a good job, help others, earn money.</p>
    </section>

    <section class="content-block">
      <h1>2. Communication</h1>
      <p>Do not be too casual with your language or words. Be professional
        and courteous. Take your session seriously. It can go a long way in ensuring your
        position as a much sought-after tutor on HashLearn Now.</p>
      </section>

      <section class="content-block">
        <h1>3. Speed and accuracy</h1>
        <p>Practice makes perfect and can help improve your responsiveness
          in chat sessions. A very good grasp of subject knowledge, related tips and
          techniques is essential ensures you are on top of your game.</p>
        </section>

        <section class="content-block">
          <h1>B. Standard chat responses for special questions you could receive.</h1>
          <p><span class = "blueText">Greeting:</span>
            Hello < name >
            How may I help you today?</br></br>
            <span class = "blueText">When you’re taking time to solve the question:</span>
            Hey, I’ve seen your question and I’m working on it as fast as I can!
            Hey, I’m halfway through the problem. Just writing down the final steps.</br></br>
            <span class = "blueText">End of session:</span>
            I am glad you found this of help. Is there any other question you want help with
            from this topic?
            Thank you < name >. All the best!</br></br>
            <span class = "blueText">General question about HashLearn Now (rates, billing issues, customer
              service, product etc.) :</span>
              Thanks for your question. I'm afraid I only handle academic questions. You can
              direct that to now@hashlearn.com or use the Customer Support link in the sliding
              drawer.</br></br>
              <span class = "blueText">When the student asks for your Phone Number/ Facebook ID/ email ID or asks for any other mode of communication:
              </span>Sorry, I cannot share personal details on this platform.
            </p>


          </section>

          <section class="content-block">
            <h1>C. Following is a video summarizing the policy guidelines for tutors on HashLearn Now. Please make sure that you have seen it before you attempt the Policy Test.</h1>

          </section>

        </br>

      </div>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/pgA036wMnuc" frameborder="0" allowfullscreen id ="vid"></iframe>

    </br>



    <div class="button" id = "taketest">
      <p class="btnText">Proceed</p>
      <div class="btnTwo">
        <p class="btnText2">GO!</p>
      </div>
    </div>

  </div>

