<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Success Modal with Animation</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat' rel='stylesheet' type='text/css'>


	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

	<link rel="stylesheet" href="../styles/confirmation.css" type="text/css">




</head>

<body>

	<div class="background"></div>
	<div class="container">

		<!--/.row-->
		<div class="row">
			<div class="modalbox error col-sm-8 col-md-6 col-lg-5 center animate">
				<div class="icon">
					<span class="glyphicon glyphicon-thumbs-down"></span>
				</div>
				<!--/.icon-->
				<h1>Oh no!</h1>
				<p>Unfortunately you were not able to score the minimum marks required. You are welcome to try again after 1 month.
					<br></p>
					<button type="button" class="redo btn" id = "okay">Okay</button>
				</div>
				<!--/.success-->
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	</body>
	</html>