
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
/*  font-family: 'Bowlby One SC', serif;
*/  
  background-image: url('../images/bg.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#container #facebook {
  position: absolute;
  top: 30%;
  left: 50%;
}
#container #facebook > #facebook-button {
  margin-left: -175px;
  margin-top: -175px;
  width: 350px;
  height: 350px;
  padding: 3px;
  border-radius: 175px;
  border: 1px solid #BEBEBE;
  background-image: url("https://i.imgur.com/LZJCVMQ.png");
  background-color: #3B579D;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 350px 350px;
  cursor: pointer;
}
#container #facebook > #facebook-login {
  display: none;
  margin-left: -250px;
  margin-top: -250px;
  width: 500px;
  height: 500px;
  padding: 5px;
  border: 1px solid #FFFFFF;
}

#status {
  position: absolute;
  width: 1500px;
  top: 60%;
  font-size: 48px;
  left: 23%;
  font-family: 'ConyRegular', Arial, sans-serif, !important;
}
